$color-is-active: red;

.cityBikes__city {
  list-style: none;
  cursor: pointer;
  outline:none
}

.cityBikes__city_active {
  color: $color-is-active
}

.cityBikes__city:focus {
  color: $color-is-active;
}

