$color-is-active: red;


.cityBikes__city {


  //&:focus {
  //  color: $color-is-active;
  //}

}

.cityBikes__city_active {
  font-weight: 900;
}
.cityBikes__city_active:focus {
  color: $color-is-active;
}

